/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out; /* Smooth transition for all changes */
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* RGB Animation */
@keyframes rgb-animation {
    0% { border-color: red; }
    33% { border-color: green; }
    66% { border-color: blue; }
    100% { border-color: red; }
}

/* Header styling */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2494E4; /* Cartier Blue */
    padding: 20px;
    animation: rgb-animation 5s linear infinite; /* RGB border animation */
}

.title {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase; /* Make the title stand out */
    background-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet); /* Rainbow gradient text */
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 5s ease-in-out infinite; /* Animated gradient text */
}

/* Gradient text animation */
@keyframes shine {
    0% { background-position: 0% }
    100% { background-position: 100% }
}

.toggle-theme {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s, transform 0.3s;
}

.toggle-theme:hover {
    color: #99DFB2; /* Medical Green */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

/* Container styling */
.container {
    max-width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #292929;
    border: 5px solid #2494E4; /* Cartier Blue */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: rgb-animation 5s linear infinite; /* RGB border animation */
}

/* Section styling */
.section-title {
    color: #2494E4; /* Cartier Blue */
    margin-bottom: 10px;
    font-size: 20px;
    animation: glow 2s infinite alternate; /* Text glow effect */
}

/* Add more styles as needed for animations, transitions, and other design elements. */

/* Example dark mode toggler */
.dark-mode .toggle-theme {
    color: #99DFB2; /* Medical Green */
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .header {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    .storage-form,
    .search-bar {
        width: 100%;
    }

    .title {
        font-size: 18px; /* Adjust title size for smaller screens */
    }
}
