* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2494E4;
    padding: 20px;
}

.title {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 5s ease-in-out infinite;
}

@keyframes shine {
    0% { background-position: 0% }
    100% { background-position: 100% }
}

.toggle-theme {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

.toggle-theme:hover {
    color: #99DFB2;
    transform: scale(1.1);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #292929;
    border: 5px solid #2494E4;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.section-title {
    color: #2494E4;
    margin-bottom: 10px;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    .storage-form, .search-bar {
        width: 100%;
    }

    .title {
        font-size: 18px;
    }
}

.dark-mode {
    background-color: #fff;
    color: #000;
}

.dark-mode .header {
    background-color: #99DFB2;
}

.dark-mode .section-title {
    color: #2494E4;
}

.dark-mode .toggle-theme {
    color: #2494E4;
}

.success-message, .error-message {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #99DFB2;
    color: #fff;
}

.error-message {
    background-color: red;
}
